<div id="<%= dom_id recipe %>">
<div>
  <p>
    <strong>Name:</strong>
    <%= recipe.name %>
  </p>

  <% if current_user && recipe.user == current_user %>
  <% if recipe.public %>
    <%= button_to "Make Private", make_private_recipe_path(recipe), method: :put %>
  <% else %>
    <%= button_to "Make Public", make_private_recipe_path(recipe), method: :put %>
  <% end %>
<% end %>
</div>
  <p>
    <strong>Preparation time:</strong>
    <%= recipe.preparation_time %>
  </p>

  <p>
    <strong>Cooking time:</strong>
    <%= recipe.cooking_time %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= recipe.description %>
  </p>

  <p>
    <strong>Public:</strong>
    <%= recipe.public %>
  </p>

  <p>
    <strong>By:</strong>
    <%= recipe.user.name %>
  </p>

</div>
