<div class="card text-center">
  <div class="card-header">
    <h5 class="card-title"><%= recipe.name %></h5>
  </div>
  <div class="card-body">
    <p class="card-text"><%= recipe.description %></p>
    <p><strong>By: <%= recipe.user.name %></strong></p>
    <%= button_to "REMOVE", recipe_path(recipe), method: :delete, class: "btn btn-danger", type: "button" %>
  </div>
<%= link_to "Show this recipe", recipe, class: "btn btn-primary" %>
</div>
