<div class="container d-flex flex-column w-75">
  <div class="d-flex justify-content-between">
    <h1>Foods</h1>
    <div class="d-flex align-items-center">
      <%= link_to "New food +", new_food_path, class: 'btn btn-outline-primary' %>
    </div>
  </div>
  <div id="foods">
    <% if @foods.length > 0 %>
      <table class="table">
        <thead class="table-dark">
          <tr>
            <th scope="col">Food</th>
            <th scope="col">Measuremnet Unit</th>
            <th scope="col">Unit Price</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @foods.each do |food| %>
            <tr>
              <td> <%= food.name%> </td>
              <td> <%= food.measurement_unit%> </td>
              <td> <%= food.price%> </td>
              <td>
                <%= button_to "Delete", food, method: :delete, class: 'd-flex btn btn-sm btn-danger' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <h3>No Food Available</h3>
    <%end%>
  </div>
</div>
