<p style="color: green"><%= notice %></p>

<% if can? :create, @recipe %>
<div class="d-flex justify-content-between">
<h1>Recipe foods</h1>
<%= link_to "Done", recipe_path(params[:recipe_id]), class: "btn btn-warning my-2" %>
</div>

<table class="table table-dark table-striped">
      <thead>
    <tr>
      <th scope="col">Food</th>
      <th scope="col" class= "d-flex justify-content-around">Quantity</th>
    </tr>
      </thead>
  <tbody>

<% @foods.each do |food|%>
<% recipe_food = @recipe_foods.find_by(food_id: food.id, recipe_id: params[:recipe_id]) %>
    <tr>
      <th scope="row"><%= food.name%></th>
      <td class="d-flex justify-content-around">
      <% if recipe_food.nil? %>
      <%= button_to "Add", recipe_recipe_foods_path(recipe_id: params[:recipe_id], food_id: food.id, quantity: 1), method: :post, class:"btn btn-primary" %>
      <% else %>
      <% unless recipe_food.quantity <=0 %>
        <%= button_to " - ", decrement_quantity_recipe_recipe_food_path(recipe_food, recipe_food.id, params[:recipe_id]), method: :put, class: "mx-3" %>
      <% end %>
      <%= "#{recipe_food.quantity} #{food.measurement_unit}" %>
      <%= button_to " + ", increment_quantity_recipe_recipe_food_path(recipe_food, recipe_food.id, params[:recipe_id]), method: :put, class: "mx-3" %>
      <% end %>
      </td>
    </tr>
<%end%>
  </tbody>
  </table>
<% end %>
